<main>
    <section id="contribuir">
        <h2>¿Cómo puedes contribuir?</h2>
        <p>Existen varias formas en las que puedes apoyar nuestra causa y marcar la diferencia:</p>
        
        <div class="contribuir-opciones">
            <div class="opcion">
                <img src="img/donaciones.jpg" alt="Donaciones" class="opcion-imagen">
                <h3>Donaciones</h3>
                <p>Tu apoyo económico es vital para mantener nuestras operaciones y ayudar a quienes más lo necesitan. Puedes realizar una donación fácilmente a través de nuestra plataforma segura.</p>
                <button onclick="window.location.href='./donaciones.html'">Donar ahora</button> 
            </div>
            
            <div class="opcion">
                <img src="img/voluntariado.jpeg" alt="Voluntariado" class="opcion-imagen">
                <h3>Voluntariado</h3>
                <p>Únete como voluntario y ayúdanos en nuestros proyectos. Ya sea con tu tiempo, habilidades o conocimientos, siempre hay un lugar para ti en nuestro equipo.</p>
                <button onclick="window.location.href='./donaciones.html'">Únete como voluntario</button>
            </div>
            
            <div class="opcion">
                <img src="img/participacion.jpeg" alt="Participación en eventos" class="opcion-imagen">
                <h3>Participación en eventos</h3>
                <p>Conoce mas sobre nuestros eventos y asiste a nuestras actividades para conocer más sobre nuestra causa y conectar con otros que comparten la misma visión.</p>
                <button onclick="window.location.href='./Eventos.html'">Ver próximos eventos</button>
            </div>
        </div>
    </section>
</main>


