<main>
    <section class="calendario-eventos">
        <h1>Calendario de Eventos</h1>
        <div class="grid-calendario">
            <div class="evento-card">
                <h2>Nov 16 2024 </h2>
                <h3>Compra de inventario</h3>
            </div>
            <div class="evento-card">
                <h2>Nov 25 2024</h2>
                <h3>Control de inventario efectuado</h3> 
            </div>
            <div class="evento-card">
                <h2>Nov 26 2024 </h2>
                <h3>Organización De Productos</h3> 
            </div>
            <div class="evento-card">
                <h2>Nov 29 2024</h2>
                <h3>Celebración Del Día De Acción De Gracias</h3>
            </div>
            <div class="evento-card">
                <h2>Dic 7 2024 </h2>
                <h3>Aplicación De Las 5s De Calidad</h3>
            </div>
            <div class="evento-card">
                <h2>Dic 15 2024 </h2>
                <h3>Entrega De Donación De Juguetes</h3>
            </div>
            <div class="evento-card">
                <h2>Dic 23 2024</h2>
                <h3>Almuerzo Navideño</h3>
            </div>
            <div class="evento-card">
                <h2>Dic 28 2024</h2>
                <h3>Almuerzo para despedir el año</h3> 
            </div>
        </div>
    </section>
</main>
