<section id="contacto" class="contactanos">
        <div class="container">
          <div class="formulario">
            <h3>Contactanos</h3>
            <form action="#" method="post">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo" required />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email Address" required />
              </div>
              <div class="form-group">
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto" name="asunto" placeholder="Asunto" required />
              </div>
              <div class="form-group">
                <label for="mensaje">Mensajes</label>
                <textarea id="mensaje" name="mensaje" placeholder="Mensaje" rows="5" required></textarea>
              </div>
              <button type="submit" class="btn-enviar">Enviar Mensaje</button>
            </form>
          </div>
          <div class="info-contacto">
            <h3>Ponte en contacto con nosotros</h3>
            <p>
              Para poder tener una mejor cercanía y atender cualquier preocupación o duda, puedes seguirnos en nuestras redes sociales, también para estar al pendiente de cualquier información, propaganda y ofertas.
            </p>
            <ul class="info-lista">
              <li><strong>Llamanos:</strong> +504 95871139</li>
              <li><strong>Email:</strong> ventasmafermas@gmail.com</li>
              <li><strong>Direccion:</strong> Avenida 14 de Julio entre 15 y 16 calle, esquina opuesta a farmacia el ahorro principal</li>
            </ul>
            <div class="redes-sociales">
              <p>Siguenos en Nuestras Redes</p>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100064171712964&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                        <img src="img/facebook.png" alt="Facebook" />
                    </a>
                    <a href="https://www.tiktok.com/@ventasmafermashn?_t=8rcflVoG4PP&_r=1" target="_blank" rel="noopener noreferrer">
                        <img src="img/tiktok.png" alt="Tiktok" />
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=95871139" target="_blank" rel="noopener noreferrer">
                        <img src="img/whatsapp.png" alt="Whatsapp" />
                    </a>
                </div>

            </div>
          </div>
        </div>
      </section>