<section id="donacion">
    <h2>¿Cómo puedes contribuir a mejorar como empresa?</h2>
    <p>Mediante una donacion con paypal nos ayudarias muchisimo</p>

    <div class="contribuir-opciones">
        <div class="opcion">
            <h3>Paypal</h3>
            <img src="./img/paypal.png" alt="fotopaypal">
            <p>El siguiente boton te redirijira a un formulario de donaciones</p>
            <a href="https://paypal.me/MAFERMAS" class="button">Donar Ahora</a>
        </div>
    </div>
</section>