<footer>
    <p>© 2018 Mafermas, Materiales ferreteros y más</p>
    <section class="paginas">
        <a href="./donaciones.html">Donaciones</a>
        <a href="./preguntas.html">Preguntas Frecuentes</a>
    </section>
    <nav>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100064171712964&mibextid=ZbWKwL">Facebook</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=95871139">Whatsapp</a></li>
            <li><a href="https://www.tiktok.com/@ventasmafermashn?_t=8rcflVoG4PP&_r=1">TikTok</a></li>
        </ul>
    </nav>
</footer>