 <section class="tarjeta">
        <section class="tarjeta1">
            <h2>Momentos especiales en Mafermas</h2>
            <div class="tarjetas-contenedor">
                <div class="card">
                    <h3>Aniversario 2024</h3>
                    <img src="./img/aniversario.jpeg" alt="Img 1" />
                    <p>En 2024, gracias a la confianza y preferencia, hemos logrado llegar a este importante hito. Han sido seis años de esfuerzo, dedicación y compromiso, siempre ofreciendo lo mejor para tus proyectos.</p>
                </div>
                <div class="card">
                    <h3>¡Feliz Día de las Madres!</h3>
                    <img src="./img/DM.jpeg" alt="Img 2" />
                    <p>En Mafermas celebramos a todas las mamás, esas grandes heroínas que día a día hacen que el hogar sea un lugar lleno de amor, calidez y esfuerzo. En este día tan especial, queremos rendir homenaje a todas las madres que, con su dedicación, también construyen y cuidan nuestros hogares.</p>
                </div>
                <div class="card">
                    <h3>Día contra el Cancer</h3>
                    <img src="./img/cancer.jpeg" alt="Img 3" />
                    <p>Este 19 de Octubre damos el paso a la importancia de la lucha contra el cáncer de mama, dando gracias a todos los que apoyan la causa y celebrando estar libres de cáncer después de 5 años. ¡Libre de Cáncer!</p>
                </div>
            </div>
        </section>
        <section class="tarjeta2">
            <h2>Un Vistazo a Nuestro Trabajo</h2>
            <div class="tarjetas-contenedor">
                <div class="card">
                    <h3>Envíos</h3>
                    <img src="./img/envio.jpeg" alt="Img 1" />
                    <p>En Mafermas nos destacamos en realizar envíos marítimos y terrestres. Llegaremos hasta la puerta de tu casa!</p>
                </div>
                <div class="card">
                    <h3>Cotizaciones</h3>
                    <img src="./img/cotizacion.jpeg" alt="Img 2" />
                    <p>Ofrecemos un servicio personalizado de cotización para todos tus proyectos de construcción, remodelación y mantenimiento.</p>
                </div>
            </div>
        </section>
        <section class="tarjeta3">
            <h2>Productos que podrás Encontrar</h2>
            <div class="tarjetas-contenedor">
                <div class="card">
                    <h3>Electricidad</h3>
                    <img src="./img/electricidad.jpeg" alt="Img 1" />
                    <p>Gran variedad en accesorios eléctricos, de pequeños, medianos a grandes.</p>
                </div>
                <div class="card">
                    <h3>Cerrajería</h3>
                    <img src="./img/cerrajeria.jpeg" alt="Img 2" />
                    <p>Accesorios de cerrajería adaptados a tu gusto y necesidad.</p>
                </div>
                <div class="card">
                    <h3>Accesorios</h3>
                    <img src="./img/accesorios.jpeg" alt="Img 2" />
                    <p>Gran variedad de accesorios para tu hogar. Para hacer de tu lugar seguro mas acogedor!</p>
                </div>
                <div class="card">
                    <h3>Líquidos</h3>
                    <img src="./img/liquidos.jpeg" alt="Img 2" />
                    <p>¡Los líquidos más demandados y a precios cómodos los encuentras con nosotros!</p>
                </div>
            </div>
        </section>
    </section>