<header>
    <div class="container">
        <section class="branding">
            <img src="../img/IMG-20241113-WA0069.jpg" alt="Logo" class="logo">
            <h1>Ferreteria Mafermas</h1>
        </section>
        <nav>
            <ul>
                {{#each nav}}
                    <li><a href="%BASE_URL%{{uri}}">{{label}}</a></li>
                {{/each}}
            </ul>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>