<header>
    <div class="container">
        <section class="branding">
            <img src="./img/1731818014420.png" alt="Icono" class="Icono">
            <h1>Ferreteria Mafermas</h1>
        </section>
        <nav>
            <ul>
                {{#each nav}}
                    <li><a href="%BASE_URL%{{uri}}">{{label}}</a></li>
                {{/each}}
            </ul>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>