<main>
    <section class="nosotros">
        <h1>Sobre Nosotros</h1>
        <div class="organizacion">
            <h2 class="nosotrosh2">Organización</h2>
            <p>
                Somos una microempresa comprometida con brindar un excelente servicio a nuestros clientes, ofreciendo
                materiales ferreteros de alta calidad y adaptados a sus necesidades específicas. Nos enfocamos en satisfacer 
                la demanda del mercado mediante la innovación y la selección de productos confiables, garantizando 
                durabilidad y eficiencia. Nuestro objetivo es ser un aliado confiable para proyectos de construcción, 
                remodelación y mantenimiento, ofreciendo soluciones prácticas, precios competitivos y atención personalizada 
                que supera las expectativas de nuestros clientes.
            </p>
            <div class="imagenes">
                <img src="img/organi1.jpg" alt="Algunos materiales">
                <img src="img/organi2.jpg" alt="Ferretería">
            </div>
        </div>
        <div class="historia">
            <h2 class="nosotrosh2">Nuestra Historia</h2>
            <p>
                "Mafermas" es una ferretería que comenzó su trayectoria en 2015 como una tienda en línea, enfocada en brindar 
                soluciones eficientes y modernas a sus clientes. Durante sus primeros años, se dedicó a satisfacer las necesidades 
                del mercado digital, ganándose la confianza de sus clientes a través de un servicio confiable, productos de calidad 
                y precios competitivos.
                <br><br>
                A mediados de 2018, dio un importante paso al abrir su primera tienda física, permitiendo a los clientes tener 
                una experiencia más directa y personalizada. Desde entonces, Mafermas ha crecido consistentemente, consolidándose 
                como un referente en el sector ferretero gracias a su compromiso con la excelencia y la innovación.
            </p>
            <div class="imagenes">
                <img src="img/histo1.jpg" alt="Inicios de la tienda física">
                <img src="img/histo2.jpg" alt="Tienda vacía">
            </div>
        </div>
        <div class="equipo">
            <h2 class="nosotrosh2">Nuestro Equipo</h2>
            <p>
                En Mafermas, nos enorgullece ser una empresa familiar comprometida con brindar servicio y materiales de buena 
                calidad a nuestros clientes. Desde nuestros inicios, hemos trabajado juntos como familia para brindar los 
                productos más demandados en el mercado ferretero. Nuestro objetivo es seguir creciendo juntos, ofreciendo 
                lo mejor a nuestros clientes.
            </p>
            <div class="imagenes">
                <img src="img/nuestroequipo1.jpeg" alt="Algunos materiales">
                <img src="img/equipo.jpeg" alt="Ferretería">
            </div>
        </div>
    </section>
</main>