<section class="faq-section">
            <h1>Preguntas Frecuentes</h1>
            <p class="subtitle">Aquí se encuentran algunas de las preguntas más frecuentes sobre nuestra Empresa</p>
            <div class="faq-container">
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Cuáles son los horarios de atención?</h3>
                <p>
                 Los horarios son de lunes a viernes a la hora establecida de 8:30 a.m a 5:15 p.m, los sábados de 8:30 a.m hasta 1:00 p.m 
                </p>
                
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Cuentan con servicio a domicilio? </h3>
                <p>
                  Sí, contamos con envíos marítimos y terrestres; hasta llegar a la puerta de tu hogar! 
                </p>
               
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Qué métodos de Pagos se Aceptan? </h3>
                <p>
                  Contamos con métodos de pago mediante PayPal, transferencias y en efectivo si nos visitas en tienda. 
                </p>
                
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Tienen garantía en los productos? </h3>
                <p>
                  Sí, contamos con una garantía en los productos con la condición que el producto no haya sido estropeado. 
                </p>
                
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Cómo puedo solicitar una cotización? </h3>
                <p>
                  Puedes solicitar una cotización al contactarnos de inmediato, por medio de tu correo electrónico o por un mensaje de texto a nuestro número privado.
                </p>
                
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3> ¿Hay descuentos o promociones disponibles? </h3>
                <p>
                  Sí, contamos con una variedad en descuentos, de la tercera edad y promociones que pasamos publicando en nuestras redes sociales. 

                </p>
                
              </div>
              <div class="faq-item">
                <div class="icon">
                  <img src="img/prueba.png" alt="Icon">
                </div>
                <h3>¿Qué marcas manejan en la Ferreteria? </h3>
                <p>
                  Contamos con marcas como Truper, Total, Stanley, Pretul, ABRO, Hermex, Volteck, Ulustool.
                </p>
                
              </div>
            </div>
          </section>