<main>
    <section class="programas">
        <h1>Nuestros Programas</h1>
        <div class="grid-programas">
            <div class="programa-card">
                <img src="img/educacion.jpeg" alt="Proyectos de Educación">
                <h2>Programa Educativo</h2>
                <p>
                    Capacitación técnica y profesional en áreas de construcción y remodelación, empoderando 
                    a los participantes con habilidades prácticas que aumentan sus oportunidades laborales.
                </p>
            </div>
            <div class="programa-card">
                <img src="img/innovacion.jpeg" alt="Proyectos innovadores">
                <h2>Programa de Innovación</h2>
                <p>
                    Integramos nuevas tecnologías en la industria ferretera para mejorar la eficiencia y calidad 
                    de los productos y servicios, incentivando proyectos innovadores.
                </p>
            </div>
             <div class="programa-card">
                <img src="img/construccion.jpeg" alt="Proyectos de Construcción">
                <h2>Programa de Construcción</h2>
                <p>
                    Hacemos tus planos realidad con el uso de nuestras herramientas innovadoras, diseñadas para 
                    facilitar tus proyectos, disponibles para consulta y compra en nuestra tienda.
                </p>
            </div>
               <div class="programa-card">
                <img src="img/CRIATON.jpeg" alt="Diploma de Agradecimiento">
                <h2>Programa de CRILATON</h2>
                <p>
                    La Ferretería Mafermas ayuda cada año al CRILATON mediante donaciones 
                </p>
            </div>
        </div>
    </section>
</main>
